* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato Helvita serif;
}
.container {
  max-width: 1600px;
  width: 80%;
  margin: auto;
}
.btn {
  display: inline-block;
  padding: 1em 2.5em;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  margin-top: 1em;
  text-transform: uppercase;
  font-weight: 500;
  background-color: #009688;
  color: #fff;
}
a {
  text-decoration: none;
  color: #fff;
}

#about {
  padding: 50px 0px;
}
.about-wrapper {
  display: flex;
  flex-wrap: wrap;
}
#about h1 {
  font-size: 3rem;
}
#about h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

#about p {
  font-size: 1.25rem;
  color: rgb(122, 121, 106);
  padding-top: 3px;
}
.about-img {
  flex: 1 1 400px;
  padding: 20px;
  transform: translateX(150%);
  animation: about-img-animation 1s ease-in-out forwards;
}
@keyframes about-img-animation {
  100% {
    transform: translate(0);
  }
}
.about-text {
  flex: 1 1 400px;
  padding: 20px;
  transform: translateX(-150%);
  animation: about-text-animation 1s ease-in-out forwards;
}
@keyframes about-text-animation {
  100% {
    transform: translate(0);
  }
}
.about-img img {
  display: block;
  height: auto;
  max-width: 100%;
  margin: auto;
}
