.team-row{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
}
.team-row .team-col{
    flex-basis: 28%;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-right: 10px;
}
.team-row .team-col .card{
    height: 260px;
    width: 260px;
    margin: 0 10px;
    perspective: 1000px;
    cursor: pointer;
}
.team-row .team-col .card .innerbox{
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.team-row .team-col .back-face,
.team-row .team-col .front-face{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 10px;
    justify-content: center;
}
.team-row .team-col .front-face img{
    text-align: center;
    border-radius: 10px;
}
.team-row .team-col .back-face{
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 20px 30px 50px rgba(0,0,0, 0.15);
    border: 1px solid rgba(255,255,255, 0.15);
    transform: rotateX(180deg);
    /* backdrop-filter: blur(2px); */
}
.card:hover .innerbox{
    transform: rotateX(-180deg);
}
.team-row .team-col .back-face img{
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 20px;
    margin-left:0px;
}
.team-row .team-col .back-face h2{
    font-size: 18px;
    margin-top: -10px;  
}
.team-row .team-col .back-face h4{
    font-size: 27px;
}
.team-row .team-col .back-face .icons{
    margin-top: -5px;
}
.team-row .team-col .back-face .icons .fa{
    font-size: 18px;
    margin: 0 7px;
    padding: 7px;
    background-color: rgba(122, 116, 116, 0.3);
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}
.team-row .team-col .back-face .icons .fa:hover{
    cursor: pointer;
    transform: translateY(-8px);
    color: var(--cyan);
}